<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH
    </title>
</head>
<body>
    <h1>HELLLLLOOOOO</h1>
    <form action='/2' method='get'>
        
        <textarea name='text' style="margin: 0px; height: 345px; width: 753px;" ></textarea><br>
        
        <input type = "checkbox" name="removepunc"> Remove Punctuation<br>
        <input type = "checkbox" name="fullcaps"> Full caps <br>
        <input type = "checkbox" name="newlineremover"> New line remover<br>
        <button type = 'submit'> CHANGE NOW </button>
        
    </form>
</body>
</html>